@using ChampionsLeagueTickets.ViewModels
@model StadiumVM;

@if (@Model.SectionVMs.Count() == 0) {
    <p>This stadium has no sections for which you can buy seats! </p>
}
else {
    <p>Select a section for which you wish to buy a season ticket:</p>
    <table class="table">
        <thead>
            <tr>
                <th>Ring</th>
                <th>Location</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SectionVMs) {
                var isDisabled = SeasonTicketVM.SeasonStart < DateOnly.FromDateTime(DateTime.Today);
                <tr>
                    <td>@item.Ring</td>
                    <td>@item.Location</td>
                    <td>@($"€{item.Price * SeasonTicketVM.PriceMultiplier:F2}")</td>
                    <td>
                        <form method="post" asp-action="AddToCart" asp-controller="SeasonTickets">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="sectionId" value="@item.Id" />
                            @if (isDisabled) {
                                <button type="submit" class="btn btn-primary disabled">Add to Cart</button>
                            } else {
                                <button type="submit" class="btn btn-primary">Add to Cart</button>
                            }
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}