@using ChampionsLeagueTickets.ViewModels
@model StadiumVM;

@if (@Model.SectionVMs.Count() == 0) {
        <p>This stadiums has no seats allocated yet</p>
} else {
        <p>The stadium of @Model.SectionVMs[0].HomeTeam has @Model.TotalSeats() seats</p>
        <p>Detailed view of the sections:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Ring</th>
                    <th>Location</th>
                    <th>Seats</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var item in Model.SectionVMs) {
                <tr>
                    <td>@item.Ring</td>
                    <td>@item.Location</td>
                    <td>@item.Seats</td>
                </tr>
            }
            </tbody>
        </table>
}


