@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <p>@Localizer["Description"]</p>
    <p>@Localizer["MadeBy"]</p>
    <p>@Localizer["NavigationInstructions"]</p>
    <p>@Localizer["TicketInstructions"]</p>
</div>
