@using ChampionsLeagueTickets.ViewModels;
@model IEnumerable<MatchVM>


@if (Model == null || !Model.Any()) {
    <p>No matches found.</p>
}
else {
    <table id="MatchTable" class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Home Team</th>
                <th>Away Team</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                var isDisabled = item.Date < DateOnly.FromDateTime(DateTime.Today) || item.Date > DateOnly.FromDateTime(DateTime.Today.AddMonths(1));
                <tr>
                    <td>@item.Date.ToString()</td>
                    <td>@item.HomeTeam</td>
                    <td>@item.AwayTeam</td>
                    <td>
                        @if (isDisabled) {
                            <a class="w-100 btn btn-lg btn-secondary disabled" asp-controller="Tickets" asp-action="Index" asp-route-matchId="@item.Id">Buy Tickets</a>
                        } else {
                            <a class="w-100 btn btn-lg btn-primary" asp-controller="Tickets" asp-action="Index" asp-route-matchId="@item.Id">Buy Tickets</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
}