@using ChampionsLeagueTickets.ViewModels;
@model ShoppingCartVM;

@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>Shopping Cart</h1>
@if(TempData["Error"] != null)
{
     <div class="alert alert-danger">@TempData["Error"]</div>
}
@if(TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}


@if (Model.SeasonTickets.Count == 0 && Model.DayTickets.Count == 0) {
    <p>Uh-Oh! There seems to be nothing here!</p> 
    <p>Season tickets can be bought from the "Season Tickets" menu option.</p>
    <p>Normal tickets can be bought buy searching for your desired match in the "Calendar" menu option.</p>

}

@if(Model.SeasonTickets.Count > 0) {
    <h2>Season Tickets</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Club</th>
                <th>Ring</th>
                <th>Location</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.SeasonTickets) {
            <tr>
                <td>@item.HomeClubName</td>
                <td>@item.Ring</td>
                <td>@item.Location</td>
                <td>@($"€{item.Price:F2}")</td>
                <td>
                    <form method="post" asp-controller="ShoppingCart" asp-action="DeleteSeasonTicket">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="sectionId" value="@item.SectionId" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form></td>
            </tr>
        }
        </tbody>
    </table>
        

}
@if(Model.SeasonTickets.Count > 0 && Model.DayTickets.Count > 0) {
    <hr />
}

@if(Model.DayTickets.Count > 0) {
    <h2>Single Match Tickets</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Ring</th>
                <th>Location</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.DayTickets) {
            <tr>
                <td>@item.MatchDate</td>
                <td>@item.HomeClubName</td>
                <td>@item.AwayClubName</td>
                <td>@item.Ring</td>
                <td>@item.Location</td>
                <td>@($"€{item.Price:F2}")</td>
                <td>
                    <form method="post" asp-controller="ShoppingCart" asp-action="UpdateDayTicketQuantity">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="sectionId" value="@item.SectionId" />
                        <input type="hidden" name="matchId" value="@item.MatchId" />
                        <input type="number" 
                               name="quantity" 
                               value="@item.Quantity" 
                               min="1" 
                               max="4"
                               onchange="this.form.submit()"/>
                    </form>
                </td>
                <td><form method="post" asp-controller="ShoppingCart" asp-action="DeleteDayTicket">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="sectionId" value="@item.SectionId" />
                        <input type="hidden" name="matchId" value="@item.MatchId" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form></td>
            </tr>
        }
        </tbody>
    </table>
}

@if(Model.SeasonTickets.Count > 0 || Model.DayTickets.Count > 0) {
    <div>
        <hr />
        <div class="d-flex justify-content-end align-items-center gap-3">
            <p class="mb-0"><strong>Total price: €@Model.TotalPrice</strong></p>
            <form method="post" asp-controller="ShoppingCart" asp-action="Checkout" class="mb-0">
                @Html.AntiForgeryToken()
                <button class="btn btn-primary" type="submit">Checkout</button>
            </form>
        </div>
    </div>
}
